<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/olol"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5420277838797225~9495069612"/>
        <activity android:name=".sorular" android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".IslemlerActivity" />
        <activity android:name=".basarimActivity" android:theme="@style/Theme.AppCompat.NoActionBar" android:screenOrientation="portrait" />
        <activity android:name=".splashScreen" android:theme="@style/Theme.AppCompat.NoActionBar" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NasilOynanir" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".KullaniciActivity" android:theme="@style/Theme.AppCompat.NoActionBar" android:screenOrientation="portrait" />
        <activity android:name=".MainActivity2" android:theme="@style/Theme.AppCompat.NoActionBar" android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".PopActivity" android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
    </application>

</manifest>